#container {
    border:10px solid gray;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    width:300px;
    flex-wrap: wrap-reverse;

}

.item{
    width:50px;
    height: 50px;
    background-color:blueviolet;
}

#LastItem{
    background-color:aqua;
    height:150px;
}
